# -*- mode: shell-script -*-

# These are FPC-specific options for compiling pasdoc.
# Path options (-Fu, -Fi) are not specified here -- they are specified only
# in the Makefile (to avoid duplication, of course).
#
# What are the reasons for maintaining this cfg file
# (as opposed to dropping this cfg file and specifying all compilation options
# in the Makefile) ?
#
# 1. This looks a little clearer than typing these options in the Makefile ?
#
# 2. Using #IFDEF AMIGA below. Although Amiga is not actually supported
#    target now.
#
# In the future, this file may be removed and everything will be handled
# only inside the Makefile.

# Syntax settings: objfpc mode, ansistrings
-S2
-Sh

# Io checking
-Ci

# Show warnings and notes
-vwn

#IFDEF RELEASE
#ifdef AMIGA
-Ct
#endif

# Optimize, for faster code
-OG
-O2

#ELSE

# Range, overflow, stack checking, verify object method call validity
-Cr
-Co

-Ct

-CR

# Include assertions
-Sa

# Generate debug info for gdb, include lineinfo
-g
-gl

# On Mac OS X > 10.4 debug information is needed in dwarf format.
# Seems that it works also in Mac OS X 10.4.11, so we just activate dwarf always.
# See http://lazarus.freepascal.org/index.php?topic=10972.0
#ifdef DARWIN
-gw
#endif

# Uncomment to check for memory leaks.
#-gh
#ENDIF
